.order-confirm-page{
  display: flex;
  flex-direction: column;
  background-color: #F6F7F8;
  flex: 1;
  color: #666;
  height: 100vh;
  .order-confirm-scroll{
    flex: 1;
    .top-bar{
      background-color: #FFF9E4;
      color: #CC7300;
      line-height: 12px;
      padding: 20px 20px 28px;
      .iconfont{
        vertical-align: bottom;
      }
      .top-text{
        margin-left: 20px;
        font-size: 24px;
      }
    }
    .good-card{
      margin: 20px 24px;
      background-color: #FFF;
      box-shadow: 0 0 15px #DDD;
      .good-top-info{
        padding: 30px 30px 20px;
        border-bottom: 1px solid #F6F7F8;
        display: flex;
        .good-pic-area{
          width: 190px;
          height: 190px;
          flex: 0 0 auto;
          box-shadow: -5px 5px 15px #DDD;
        }
        .good-names-area{
          min-width: 400px;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-between;
          font-size: 24px;
          padding-left: 18px;
          .good-name{
            word-wrap: break-word;
            word-break: break-all;
            max-width: 100%;
          }
          .good-num{
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .order-info-list{
        font-size: 28px;
        padding: 10px 0;
        .order-item{
          display: flex;
          justify-content: space-between;
          padding: 12px 30px;
        }
      }
    }
    .order-card{
      margin: 20px 24px;
      background-color: #FFF;
      box-shadow: 0 0 15px #DDD;
      .order-info-list{
        font-size: 28px;
        padding: 10px 0;
        .order-item{
          display: flex;
          justify-content: space-between;
          padding: 12px 30px;
        }
      }
    }
  }
  .order-confirm-bottom-area{
    .confirm-btn{
      border: 0;
      background-color: #F78F1F;
      color: #FFF;
      font-size: 34px;
      line-height: 34px;
      padding: 32px;
      border-radius: 0;
    }
  }
}